#
# Connector translations
#
# @language       en_US
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:SonoffConnector!
# @subpackage     Translations
# @since          1.0.0
#
# @date           06.10.23
#

cmd:
    base:
        questions:
            continue: "Would you like to continue?"
            whatToDo: "What would you like to do?"
            exit: "Do you want to exit?"

        messages:
            noConnectors: "No Sonoff connectors registered in system."
            answerNotValid: "Selected answer: \"%s\" is not valid."

    initialize:
        title: "Sonoff connector - initialization"
        subtitle: "This action will create|update|delete connector configuration"

        actions:
            create: "Create new connector configuration"
            update: "Edit existing connector configuration"
            remove: "Delete existing connector configuration"
            list: "List Sonoff connectors"
            nothing: "Nothing"

        questions:
            create: "Would you like to create new Sonoff connector configuration?"
            disable: "Do you want to disable connector?"
            enable: "Do you want to enable connector?"
            provide:
                identifier: "Provide connector identifier"
                name: "Provide connector name"
                username: "Provide cloud authentication username"
                password: "Provide cloud authentication password"
            select:
                connector: "Please select connector to manage"
                mode: "In what mode should this connector communicate with Sonoff devices?"
                dataCentre: "Provide which cloud data center you are using?"
            enableGateway: "Register connector into eWelink application?"
            changeMode: "Do you want to change connector devices support?"
            changeUsername: "Do you want to change connector cloud username?"
            changePassword: "Do you want to change connector cloud password?"

        answers:
            mode:
                local: "Local network mode"
                cloud: "Sonoff cloud server mode"
                auto: "Automatic selection mode (combined local & cloud)"

            dataCentre:
                europe: "Europe"
                america: "America"
                china: "China"
                asia: "Asia"

        data:
            name: "Name"
            devicesCnt: "# Devices"

        messages:
            identifier:
                used: "This identifier is already used."
                missing: "Connector identifier have to be provided."
            create:
                success: "Connector \"%name%\" was successfully created."
                error: "Something went wrong, connector could not be created. An error was logged."
            update:
                success: "Connector \"%name%\" was successfully updated."
                error: "Something went wrong, connector could not be updated. An error was logged."
            remove:
                success: "Connector \"%name%\" was successfully removed."
                error: "Something went wrong, connector could not be removed. An error was logged."

    execute:
        title: "Sonoff connector - service"
        subtitle: "This action will run connector service"

        questions:
            execute: "Would you like to execute \"%connector%\" connector"
            select:
                connector: "Please select connector to execute"

        messages:
            connector:
                notFound: "Connector was not found in system."
                disabled: "Connector is disabled. Disabled connector could not be executed."
            error: "Something went wrong, connector was terminated."

    discovery:
        title: "Sonoff connector - devices discovery"
        subtitle: "This action will run connector devices discovery"

        questions:
            execute: "Would you like to discover devices with \"%connector%\" connector"
            select:
                connector: "Please select connector to perform discovery"

        data:
            id: "ID"
            name: "Name"
            type: "Type"
            ipAddress: "IP Address"

        messages:
            connector:
                notFound: "Connector was not found in system."
                disabled: "Connector is disabled. Disabled connector could not be executed."
            starting: "Starting Sonoff connector discovery..."
            stopping: "Stopping Sonoff connector discovery..."
            foundDevices: "Found %d new devices"
            noDevicesFound: "No devices were found"
            success: "Devices discovery was successfully finished"
            error: "Devices discovery failed. An error was logged."
