#
# Connector translations
#
# @language       en_US
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:SonoffConnector!
# @subpackage     Translations
# @since          1.0.0
#
# @date           06.10.23
#

cmd:
    base:
        questions:
            continue: "Would you like to continue?"
            whatToDo: "What would you like to do?"
            exit: "Do you want to exit?"

        messages:
            noConnectors: "No Sonoff connectors registered in system."
            answerNotValid: "Selected answer: \"%s\" is not valid."

        mode:
            local: "Local nework"
            cloud: "Cloud server"
            auto: "Automatic selection"

    execute:
        title: "Sonoff connector - service"
        subtitle: "This action will run connector service"

        questions:
            execute: "Would you like to execute \"%connector%\" connector"
            select:
                connector: "Please select connector to execute"

        messages:
            connector:
                notFound: "Connector was not found in system."
                disabled: "Connector is disabled. Disabled connector could not be executed."
            error: "Something went wrong, connector was terminated."

    discover:
        title: "Sonoff connector - devices discovery"
        subtitle: "This action will run connector devices discovery"

        questions:
            execute: "Would you like to discover devices with \"%connector%\" connector"
            select:
                connector: "Please select connector to perform discovery"

        data:
            id: "ID"
            name: "Name"
            type: "Type"
            ipAddress: "IP Address"

        messages:
            connector:
                notFound: "Connector was not found in system."
                disabled: "Connector is disabled. Disabled connector could not be executed."
            starting: "Starting Sonoff connector discovery..."
            stopping: "Stopping Sonoff connector discovery..."
            foundDevices: "Found %d new devices"
            noDevicesFound: "No devices were found"
            success: "Devices discovery was successfully finished"
            error: "Devices discovery failed. An error was logged."

    install:
        title: "Sonoff connector - installer"
        subtitle: "This action will create|update|delete connector configuration"

        actions:
            create:
                connector: "Create connector"
            update:
                connector: "Edit connector"
                device: "Edit device"
            remove:
                connector: "Delete connector"
                device: "Delete device"
            manage:
                connector: "Manage connector"
            list:
                connectors: "List connectors"
                devices: "List devices"
            discover:
                devices: "Discover devices"
            nothing: "Nothing"

        questions:
            create:
                connector: "Would you like to create new connector configuration?"
            manage:
                devices: "Would you like to manage connector devices?"
            provide:
                connector:
                    identifier: "Provide connector identifier"
                    name: "Provide connector name"
                    username: "Provide cloud authentication username"
                    password: "Provide cloud authentication password"
                device:
                    name: "Provide device name"
            select:
                item:
                    connector: "Please select connector to manage"
                    device: "Please select device to manage"
                connector:
                    mode: "In what mode should this connector communicate with Sonoff devices?"
                    dataCentre: "Provide which cloud data center you are using?"
            changeMode: "Do you want to change connector devices support?"
            disable:
                connector: "Do you want to disable connector?"
            enable:
                connector: "Do you want to enable connector?"
            changeUsername: "Do you want to change connector cloud username?"
            changePassword: "Do you want to change connector cloud password?"
            enableGateway: "Register connector into eWelink application?"

        answers:
            mode:
                local: "Local network mode"
                cloud: "Cloud server mode"
                auto: "Automatic selection mode (combined local & cloud)"

            dataCentre:
                europe: "Europe"
                america: "America"
                china: "China"
                asia: "Asia"

        data:
            id: "ID"
            name: "Name"
            mode: "Mode"
            model: "Model"
            ipAddress: "IP Address"
            devicesCnt: "# Devices"

        messages:
            identifier:
                connector:
                    used: "This identifier is already used."
                    missing: "Connector identifier have to be provided."
            create:
                connector:
                    success: "Connector \"%name%\" was successfully created."
                    error: "Something went wrong, connector could not be created. An error was logged."
            update:
                connector:
                    success: "Connector \"%name%\" was successfully updated."
                    error: "Something went wrong, connector could not be updated. An error was logged."
                device:
                    success: "Device \"%name%\" was successfully updated."
                    error: "Something went wrong, device could not be updated. An error was logged."
            remove:
                connector:
                    confirm: "This action will remove \"%name%\" connector. This action can not be undone."
                    success: "Connector \"%name%\" was successfully removed."
                    error: "Something went wrong, connector could not be removed. An error was logged."
                device:
                    confirm: "This action will remove \"%name%\" device. This action can not be undone."
                    success: "Device \"%name%\" was successfully removed."
                    error: "Something went wrong, device could not be removed. An error was logged."
            discover:
                success: "Devices discovery was successfully finished"
                error: "Devices discovery failed. An error was logged."
            noDevices: "No devices registered in selected connector."
            foundDevices: "Found %d new devices"
            noDevicesFound: "No devices were found"
