parameters:
    level: max

    paths:
        - ../tests/cases/

    bootstrapFiles:
        - phpstan-bootstrap.php

    scanDirectories:
        - ../src

    ignoreErrors:
        -
            message: '#^Return type of call to method PHPUnit\\Framework\\TestCase::createMock\(\) contains unresolvable type.#'
            path: ../tests/cases/unit/API/CloudApiTest.php
            count: 4
