includes:
    - phpstan.base.neon
    - phpstan.config.src.neon

parameters:
    resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

    ignoreErrors:
        - message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
